<!DOCTYPE html>
<html>
    <head>
        <script src="/public/jquery/dist/jquery.js"></script>
        <script src="/public/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/style.css" />
        <title>{{title}}</title>
    </head>

    <body>
        {{{body}}}
    </body>
</html>