{{>navbar}}

<br />

<form action="/change_password" method="POST" class="col-sm-12">
    <h1>Change Password</h1>
    <div class="form-group">
        <input class="form-control form-control-lg col-sm-4 m-1" id="current_password" name="current_password" placeholder="Current Password" type="password" />
        <input class="form-control form-control-lg col-sm-4 m-1" id="new_password" name="new_password" pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z])\w{8,30}" placeholder="New Password" type="password" />
        <input class="form-control form-control-lg col-sm-4 m-1" id="confirm_new_password" name="confirm_new_password" placeholder="Retype New Password" type="password" />
    </div>

    <label class="col-form-label col-form-label-lg col-sm-3 text-danger" id="password_feedback"></label>
    <br />


    <button class="btn btn-danger" id="submit_btn" type="submit">Confirm</button>
    
</form>
<script src="/public/js/change_password.js"></script>