{{>navbar}}

<table class="table">
    <tbody>
        <tr scope="row">
            <td scope="column" class="font-weight-bold">You currently have {{count_users}} users on Martianally!</td>
            <td scope="column"><a class="btn btn-primary" href="/users">View Users</a></td>
        </tr>
        <tr scope="row">
            <td scope="column" class="font-weight-bold">You currently have {{count_products}} different items!</td>
            <td scope="column"><a class="btn btn-danger" href="/product_form">Add Product</a></td>
        </tr>
    </tbody>
</table>

