{{>navbar}}

<div class="container col-sm-12">
    <br />
    <p class="col-sm-8 offset-sm-2 text-justify lead">
        Martianally was created by Adrian Ally 3,020 years before the year 2020. Due to tense times in human history, 
        Adrian and his most trusted advisor Scotty had to leave before humans would discover their immortality and want 
        to study them. In the year 1645 in London, England the decision was made to leave earth, until humans were ready 
        to live among them in peace. 
    </p>


    <div class="text-center my-3">
            <img src="/public/assets/photos/about_1.jpeg" class="col-sm-8 img-fluid" />
    </div>


    <p class="col-sm-8 offset-sm-2 text-justify lead">
        On the Home world established as “Martianally” , the plot for their return began. The date of return was set by 
        the Martianally government. This would a solo mission for Adrian that will be done on a human holiday, so that 
        defences would be low. Once earth has been infiltrated, a small convoy of Martian reinforcements will meet up 
        with Adrian on earth and begin introducing humans to martian fashion. 
    </p>

    <div class="text-center my-3">
            <img src="/public/assets/photos/about_2.jpeg" class="col-sm-8 img-fluid" />
    </div>

    <p class="col-sm-8 offset-sm-2 lead text-justify">
        On the Eve of the end of 2018 (New Years Eve), a Martianally transport ship entered earths atmosphere at incredible speed. 
        Unable to effectively land, the craft crashed into a farm house deep in the Canadian countryside. Out of the wreck emerged 
        the Martian leader Adrian himself unharmed, and ready to pick up where he left off. 
    </p>
</div>